<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>

	<h3>JSON file:</h3>
	<textarea rows="20" cols="100" th:text="${mcpFile.getFileAsString()}"></textarea>
	<br>
	<a th:href="@{/metrics/} + ${mcpFile.id}">Metrics</a>
	<a th:href="@{/kpis/} + ${mcpFile.id}">KPIs</a>

</body>
</html>