<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>

	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Rows</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mcpFile: ${mcpFiles}">
				<td th:text="${mcpFile.getFormattedDate()}"></td>
				<td th:text="${mcpFile.rows}"></td>
				<td><a th:href="@{/} + ${mcpFile.id}">Details</a></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</body>
</html>