<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<h3>KPIs:</h3>
	<table>
		<thead>
			<tr>
				<th>KPI</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="kpi: ${kpis}">
				<td th:text="${kpi.key.getName()}"></td>
				<td th:text="${kpi.value}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>