<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<h3>Generic metrics:</h3>
	<table>
		<thead>
			<tr>
				<th>Metric</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="genericMetric: ${genericMetrics}">
				<td th:text="${genericMetric.key.getName()}"></td>
				<td th:text="${genericMetric.value}"></td>
			</tr>
		</tbody>
	</table>
	
	<h3>Calls inside countries:</h3>
	<table>
		<thead>
			<tr>
				<th>Country Code</th>
				<th>Num calls origin/destination</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="callsByCountryCode: ${callsByCountryCodes}">
				<td th:text="${callsByCountryCode.key}"></td>
				<td th:text="${callsByCountryCode.value}"></td>
			</tr>
		</tbody>
	</table>
	
	<h3>Average duration calls inside countries:</h3>
	<table>
		<thead>
			<tr>
				<th>Country Code</th>
				<th>Average call duration</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="avgCallDurationByCountryCodes: ${avgCallDurationByCountryCodes}">
				<td th:text="${avgCallDurationByCountryCodes.key}"></td>
				<td th:text="${avgCallDurationByCountryCodes.value}"></td>
			</tr>
		</tbody>
	</table>
	
	<h3>Ocurrences given words: (ARE, YOU, FINE, HELLO, NOT)</h3>
	<table>
		<thead>
			<tr>
				<th>Word</th>
				<th>Ocurrences</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="wordOcurrenceMap: ${wordsOcurrenceMap}">
				<td th:text="${wordOcurrenceMap.key}"></td>
				<td th:text="${wordOcurrenceMap.value}"></td>
			</tr>
		</tbody>
	</table>
	

</body>
</html>